<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type=""/>
  </configSections>

  <unity>
    <aliases>
      <add alias="ILogger" type="Microsoft.Practices.Unity.TestSupport.ILogger, Unity.Configuration.Tests" />
      <add alias="SpecialLogger" type="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.Configuration.Tests" />
      <add alias="ObjectWithTwoFields" type="Microsoft.Practices.Unity.TestSupport.ObjectWithTwoFields, Unity.Configuration.Tests" />
      <add alias="SpecialLogger" type="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Unity.Configuration.Tests" />
    </aliases>
    
    <container>
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
      
      <register type="object" name="special">
        <lifetime type="singleton" />
      </register>
      
      <register type="ObjectWithTwoFields" name="singleField">
        <field name="Obj1">
          <dependency name="special" />
        </field>
      </register>

      <register type="ObjectWithTwoFields" name="twoFields">
        <field name="Obj1" dependencyName="special" />
        <field name="Obj2" />
      </register>

      <register type="ObjectWithTwoFields" name="injectingDifferentType">
        <field name="Obj1" dependencyName="special" dependencyType="ILogger" />
        <field name="Obj2" dependencyName="special" />
      </register>
    </container>
  </unity>
</configuration>
