<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type=""/>
  </configSections>

  <unity>
    <namespace name="Microsoft.Practices.Unity.TestSupport" />
    <assembly name="Unity.Configuration.Tests" />

    <container>
      <register type="ILogger" mapTo="MockLogger" />
      <register type="ILogger" name="special" mapTo="SpecialLogger" />
    </container>
  </unity>
</configuration>