<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <typeAliases>
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="int" type="System.Int32, mscorlib" />
      <typeAlias alias="ILogger" type="Microsoft.Practices.Unity.TestSupport.ILogger, Configuration.Tests" />
      <typeAlias alias="MockLogger" type="Microsoft.Practices.Unity.TestSupport.MockLogger, Configuration.Tests" />
      <typeAlias alias="SpecialLogger" type="Microsoft.Practices.Unity.TestSupport.SpecialLogger, Configuration.Tests" />
      <typeAlias alias="DependentConstructor" type="Microsoft.Practices.Unity.TestSupport.ObjectWithOneConstructorDependency, Configuration.Tests" />
      <typeAlias alias="TwoConstructorArgs" type="Microsoft.Practices.Unity.TestSupport.ObjectWithTwoConstructorParameters, Configuration.Tests" />
      <typeAlias alias="MockDatabase" type="Microsoft.Practices.Unity.TestSupport.MockDatabase, Configuration.Tests" />
    </typeAliases>

  </unity>
</configuration>