<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity>
    <namespace name="Microsoft.Practices.Unity.Configuration.Tests" />
    <assembly name="Configuration.Tests" />

    <container>
      <register type="OptionalWithTypeFixture+Circle" name="Circle">
        <lifetime type="singleton" />
        <property name="Radius" type="double" value="2" />
      </register>
      <register type="OptionalWithTypeFixture+Square" name="Square">
        <lifetime type="singleton" />
        <property name="Side" type="double" value="3" />
      </register>
      <register type="OptionalWithTypeFixture+MyPicture" name="PropertyInjection">
        <constructor />
        <property name="MyCircle">
          <optional name="Circle" type="OptionalWithTypeFixture+Circle" />
        </property>
        <property name="MySquare">
          <optional name="Square" type="OptionalWithTypeFixture+Square" />
        </property>
      </register>
      <register type="OptionalWithTypeFixture+MyPicture" name="ArrayInjection">
        <constructor />
        <property name="Items">
          <array>
            <optional name="Circle" type="OptionalWithTypeFixture+Circle" />
            <optional name="Square" type="OptionalWithTypeFixture+Square" />
          </array>
        </property>
      </register>
      <register type="OptionalWithTypeFixture+MyPicture" name="MethodInjection">
        <constructor />
        <method name="Initialize">
          <param name="myCircle">
            <optional name="Circle" type="OptionalWithTypeFixture+Circle" />
          </param>
          <param name="mySquare">
            <optional name="Square" type="OptionalWithTypeFixture+Square" />
          </param>
        </method>       
      </register>
      <register type="OptionalWithTypeFixture+MyPicture" name="ConstructorInjection">
        <constructor>
          <param name="myCircle">
            <optional name="Circle" type="OptionalWithTypeFixture+Circle" />
          </param>
          <param name="mySquare">
            <optional name="Square" type="OptionalWithTypeFixture+Square" />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>